:root {
  font-family: Georgia, "Times", "Times New Roman", serif;
  line-height: 1.5;

  color-scheme: light dark;
  --color: #ff2c2c;
  --background-color: #332819;
  --contrast-color: #d22718;
  --lightest-color: #fffde9;
  --darkest-color: #fe3030;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes backgroundChange {
  0% {
    background-color: #ffe223;
  }
  25% {
    background-color: #ffdd1d;
  }
  50% {
    background-color: #ffe223;
  }
  75% {
    background-color: #ffe223;
  }
  100% {
    background-color: #ffe223;
  }
}

@keyframes friesShake {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-0.1em) rotate(-5deg);
  }
  50% {
    transform: translateY(0.1em) rotate(5deg);
  }
  75% {
    transform: translateY(-0.1em) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

a {
  font-weight: 500;
  color: var(--contrast-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--contrast-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  min-width: 320px;
  min-height: 100vh;
  color: var(--color);
  animation: backgroundChange 20s infinite alternate;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  transition: ease;
  animation: friesShake 1s infinite;
  margin-top: 1rem; /* Move the title higher up */
}

h2 {
  font-size: 6em;
  margin: 0.3em;
  transition: transform 0.5s ease;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--darkest-color);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2em;
}
button:hover {
  border-color: var(--contrast-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.clicker {
  background: none;
  border: none;
  font-size: 5em; /* Increase the size of the emoji */
  cursor: pointer;
  padding: 0;
}

#button-div {
  margin-bottom: 2rem;
}

.status-display {
  margin-bottom: 1rem; /* Add margin to separate the status displays from the button */
}

#clicker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; /* Center the clicker button */
}

#upgrades-container {
  margin-top: 2rem; /* Move the upgrade buttons down */
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-color);
    background-color: var(--color);
  }
  a:hover {
    color: var(--contrast-color);
  }
  button {
    background-color: var(--lightest-color);
  }
}